<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>试卷管理</title>
    <link rel="stylesheet" type="text/css" href="/common/element/element-index.css">
    <script type="text/javascript" src="/common/jquery/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/common/vue/vue.min.js"></script>
    <script type="text/javascript" src="/common/element/element-index.js"></script>
    <script type="text/javascript" src="/common/axios/axios.min.js"></script>
    <script type="text/javascript" src="/common/myutil/axios_util.js"></script>
    <script type="text/javascript" src="/common/myutil/my_util.js"></script>
    <script type="text/javascript" src="/common/myutil/myEl.js"></script>
    <script type="text/javascript" src="/common/myutil/my_open.js"></script>
    <script type="text/javascript" src="/common/dialog/lhgdialog.js?self=false&skin=idialog"></script>
</head>
<body>
<div id="appVM" v-cloak>
    <el-card>
        <div>
            <el-form :inline="true" :model="queryForm" class="demo-form-inline">
                <el-form-item label="计划名称">
                    <el-input v-model="queryForm.planName" placeholder="请输入计划名称"></el-input>
                </el-form-item>
                <el-form-item label="状态">
                    <el-select v-model="queryForm.status" placeholder="请选择">
                        <el-option v-for="item in statusOptions"
                                   :key="item.value"
                                   :label="item.label"
                                   :value="item.value">
                        </el-option>
                    </el-select>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="queryUser">查询</el-button>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="resetQuery">重置</el-button>
                </el-form-item>
            </el-form>
        </div>
        <el-table :height="tableHeight" :data="tableData" stripe border highlight-current-row style="width: 98%">
            <el-table-column type="index" width="50">
            </el-table-column>
            <el-table-column prop="planName" label="计划名称"></el-table-column>
            <el-table-column prop="testStartTime" label="考试开始时间"></el-table-column>
            <el-table-column prop="testEndTime" label="考试结束时间"></el-table-column>
            <el-table-column prop="testTime" label="考试时长(分)"></el-table-column>
            <el-table-column prop="testForm" label="考试形式">
                <template slot-scope="scope">
                    <span v-if="scope.row.testForm == 0">闭卷</span>
                    <span v-if="scope.row.testForm == 1">开卷</span>
                </template>
            </el-table-column>
            <el-table-column prop="testType" label="发卷类型">
                <template slot-scope="scope">
                    <span v-if="scope.row.testForm == 0">随机</span>
                    <span v-if="scope.row.testForm == 1">轮询</span>
                </template>
            </el-table-column>
            <el-table-column prop="status" label="计划状态">
                <template slot-scope="scope">
                    <span v-if="scope.row.status == 0">未发布</span>
                    <span v-if="scope.row.status == 1">已发布</span>
                    <span v-if="scope.row.status == 2">待公布</span>
                    <span v-if="scope.row.status == 3">已公布</span>
                </template>
            </el-table-column>
            <el-table-column prop="operator" label="创建人"></el-table-column>
            <el-table-column label="操作" width="350">
                <template slot-scope="scope">
                    <el-button size="mini" @click="handleEdit(scope.$index, scope.row)">编辑</el-button>
                    <el-button size="mini" type="success"
                               @click="examPaperInfo(scope.$index, scope.row)">试卷信息
                    </el-button>
                    <el-button v-show="scope.row.status === 0" size="mini" type="primary"
                               @click="updatePlanStatus(scope.$index, scope.row,1,'发布试卷')">发布试卷
                    </el-button>
                    <el-button v-show="scope.row.status === 1" size="mini" type="primary"
                               @click="updatePlanStatus(scope.$index, scope.row,2,'开始阅卷')">开始阅卷
                    </el-button>
                    <el-button v-show="scope.row.status === 2" size="mini" type="primary"
                               @click="updatePlanStatus(scope.$index, scope.row,3,'公布成绩')">公布成绩
                    </el-button>
                    <el-button size="mini" type="danger"
                               @click="handleRemove(scope.$index, scope.row)">删除
                    </el-button>
                </template>
            </el-table-column>
        </el-table>
        <el-pagination
                background
                :page-sizes="[10, 50, 100, 200]"
                @size-change="handleSizeChange"
                @current-change="handleCurrentChange"
                :page-size="pageable.size"
                :current-page.sync="pageable.page"
                layout="total, sizes, prev, pager, next, jumper"
                :total="pageable.total">
        </el-pagination>
    </el-card>
    <!--edit页面 抽屉-->
    <el-drawer ref="drawer" :title="EditDrawer.title" :visible.sync="EditDrawer.drawer" direction="rtl"
               destroy-on-close="true"
               custom-class="demo-drawer" :show-close="false" size="80%">
        <div v-if="EditDrawer.flag == 0" class="demo-drawer__content" style="margin: 5px 50px 10px 5px">
            <el-col :span="6"></el-col>
            <el-col :span="12">
                <el-form label-position="right" label-width="200px" :model="EditForm">
                    <el-form-item label="计划编号">
                        <el-input class="myInput" v-model="EditForm.planId" disabled="true"></el-input>
                    </el-form-item>
                    <el-form-item label="计划名称">
                        <el-input class="myInput" v-model="EditForm.planName"></el-input>
                    </el-form-item>
                    <el-form-item label="考试开始时间">
                        <el-date-picker v-model="EditForm.testStartTime"
                                        value-format="yyyy-MM-dd HH:mm:ss"
                                        type="datetime"
                                        placeholder="选择日期时间">
                        </el-date-picker>
                    </el-form-item>
                    <el-form-item label="考试结束时间">
                        <el-date-picker v-model="EditForm.testEndTime"
                                        value-format="yyyy-MM-dd HH:mm:ss"
                                        type="datetime"
                                        placeholder="选择日期时间">
                        </el-date-picker>
                    </el-form-item>
                    <el-form-item label="考试时长(分)">
                        <el-input class="myInput" v-model="EditForm.testTime" disabled="true"></el-input>
                    </el-form-item>
                    <el-form-item label="考试形式">
                        <template>
                            <el-select v-model="EditForm.testForm" placeholder="请选择">
                                <el-option v-for="item in testFormOptions"
                                           :key="item.value"
                                           :label="item.label"
                                           :value="item.value">
                                </el-option>
                            </el-select>
                        </template>
                    </el-form-item>
                    <el-form-item label="发卷类型">
                        <el-select v-model="EditForm.testType" placeholder="请选择">
                            <el-option v-for="item in testTypeOptions"
                                       :key="item.value"
                                       :label="item.label"
                                       :value="item.value">
                            </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="计划状态">
                        <el-select v-model="EditForm.status" placeholder="请选择">
                            <el-option v-for="item in statusOptions"
                                       :key="item.value"
                                       :label="item.label"
                                       :value="item.value">
                            </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="创建时间">
                        <el-date-picker v-model="EditForm.createTime" readonly
                                        value-format="yyyy-MM-dd HH:mm:ss"
                                        type="datetime"
                                        placeholder="选择日期时间"
                                        disabled="true">
                        </el-date-picker>
                    </el-form-item>
                    <el-form-item label="创建人">
                        <el-input class="myInput" v-model="EditForm.operator" disabled="true"></el-input>
                    </el-form-item>
                </el-form>
                <div class="demo-drawer__footer" style="text-align: right">
                    <el-button type="primary" @click="saveData">保 存</el-button>
                </div>
            </el-col>
            <el-col :span="6"></el-col>

        </div>
        <!-- 试卷列表 -->
        <div v-if="EditDrawer.flag == 1">
            <div id="editHead">
                <el-button-group>
                    <el-button type="primary" href="">添加人员</el-button>
                </el-button-group>
            </div>
            <el-table :height="tableHeight" :data="paperData" stripe border highlight-current-row style="width: 98%">
                <el-table-column type="index" width="50">
                </el-table-column>
                <el-table-column prop="planName" label="计划名称"></el-table-column>
                <el-table-column prop="paperName" label="试卷名称"></el-table-column>
                <el-table-column prop="isUsed" label="是否有效">
                    <template slot-scope="scope">
                        <span v-if="scope.row.isUsed == 0">未使用</span>
                        <span v-if="scope.row.isUsed == 1">使用</span>
                    </template>
                </el-table-column>
                <el-table-column label="操作" width="350">
                    <template slot-scope="scope">
                        <el-button v-show="scope.row.isUsed === 0" size="mini" type="primary"
                                   @click="updateIsUsed(scope.$index, scope.row,1,'使用')">使用
                        </el-button>
                        <el-button v-show="scope.row.isUsed === 1" size="mini" type="primary"
                                   @click="updateIsUsed(scope.$index, scope.row,0,'禁用')">禁用
                        </el-button>
                        <el-button size="mini" type="success"
                                   @click="previewPaper(scope.$index, scope.row)">预览
                        </el-button>
                        <el-button size="mini" type="danger"
                                   @click="handleRemove(scope.$index, scope.row)">删除
                        </el-button>
                    </template>
                </el-table-column>
            </el-table>
        </div>
    </el-drawer>
</div>
</body>
<script>
    let vData = {
        tableHeight: $(document).height() - 150,
        queryForm: {
            planName: '',
            status: ''
        },
        tableData: [],
        paperData: [],
        pageable: {
            size: 10,
            page: 1,
            total: 0
        },
        EditDrawer: {
            title: '',
            drawer: false,
            flag: 0
        },
        EditForm: {},
        testFormOptions: [{
            value: 0,
            label: '闭卷'
        }, {
            value: 1,
            label: '开卷'
        }],
        testTypeOptions: [{
            value: 0,
            label: '随机'
        }, {
            value: 1,
            label: '轮询'
        }],
        statusOptions: [{
            value: 0,
            label: '未发布'
        }, {
            value: 1,
            label: '已发布'
        }, {
            value: 2,
            label: '待公布'
        }, {
            value: 3,
            label: '已公布'
        }]

    };

    let vm = new Vue({
        el: '#appVM',
        data: vData,
        method: {
            queryUser,
            resetQuery,
            handleEdit,
            handleSizeChange,
            handleCurrentChange,
            saveData,
            examPaperInfo,
            updatePlanStatus,
            updateIsUsed,
            previewPaper
        }
    });

    $(function () {
        getData();
    });

    function getData() {
        let lJsonData = vData.queryForm;
        lJsonData.pageable = vData.pageable;
        lJsonData.isPaper = 1;
        axios.post("/exam/listExamPlanPage", lJsonData)
            .then(function (response) {
                let lret = response.data;
                console.log(lret);
                vData.tableData = lret.data.content;
                vData.pageable.total = lret.data.total;
            })
            .catch(function (error) {

            });

    }

    function queryUser() {
        vData.pageable.page = 1;
        getData();
    }

    function handleEdit(idx, row) {
        vData.EditDrawer.flag = 0;
        vData.EditDrawer.drawer = true;
        vData.EditDrawer.title = "编辑计划-" + row.planName;
        vData.EditForm = row;
        console.log("编辑---- ", JSON.stringify(vData.EditForm));
    }

    function resetQuery() {
        vData.queryForm.planName = '';
        vData.queryForm.status = '';
    }


    function examPaperInfo(idx, row) {
        vData.EditDrawer.flag = 1;
        vData.EditDrawer.drawer = true;
        vData.EditDrawer.title = "试卷信息-" + row.planName;
        // 试卷信息
        axios.post("/exam/testPaperList", {"planId": row.planId})
            .then(function (res) {
                let lret = res.data;
                vData.paperData = lret.data.content;
            })
            .catch(function (e) {

            });
    }

    function handleSizeChange(val) {
        vData.pageable.page = 1;
        vData.pageable.size = val;
        getData();
    }

    function handleCurrentChange(val) {
        getData();
    }


    function saveData() {
        let vJsonData = vData.EditForm;
        vJsonData.ghid = myUtil.getAccountPwd();
        vJsonData.operator = myUtil.getUname();

        axios.post("/exam/saveExamPlan", vJsonData)
            .then(function (response) {
                let lret = response.data;
                if (lret.code == 200) {
                    vData.EditDrawer.drawer = false;
                    getData();
                }
                myEl.elAlert(lret.code, lret.msg);
            })
            .catch(function (error) {

            });
    }

    function updatePlanStatus(idx, row, status, msg) {
        vm.$confirm("确认" + msg + "吗？")
            .then(_ => {
                let lJsonData = {"planId": row.planId, "status": status};
                axios.post("/exam/updatePlanStatus", lJsonData)
                    .then(function (response) {
                        let lret = response.data;
                        if (lret.code == 200) {
                            getData();
                        }
                        myEl.elAlert(lret.code, lret.msg);
                    })
                    .catch(function (error) {

                    });
            })
            .catch(_ => {

            })
    }

    function updateIsUsed(idx, row, isUsed, msg) {
        vm.$confirm("确认" + msg + "吗？")
            .then(_ => {
                let lJsonData = {"paperId": row.paperId, "isUsed": isUsed};
                axios.post("/exam/updateIsUsed", lJsonData)
                    .then(function (response) {
                        let lret = response.data;
                        if (lret.code == 200) {
                            vData.paperData[idx].isUsed = isUsed;
                        }
                        myEl.elAlert(lret.code, lret.msg);
                    })
                    .catch(function (error) {

                    });
            })
            .catch(_ => {

            })
    }

    function previewPaper(idx, row) {
        var vUrl = "page/exam/previewPaper?planId=" + row.planId + "&paperId=" + row.paperId + "&paperName=" + row.paperName;
        win_openNoBtn(vUrl, '预览试卷', window.screen.width - 50, window.screen.height - 200, true);
    }


</script>

<style>
    [v-cloak] {
        display: none;
    }

    .myInput {
        width: 219px;
    }

    .myText {
        width: 500px;
    }

    .headLabel {
        text-align: center;
        font-size: 22px;
        padding: 1px 0 34px 0;
    }


</style>
</html>