<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>参考人列表</title>
    <link rel="stylesheet" type="text/css" href="/common/element/element-index.css">
    <script type="text/javascript" src="/common/jquery/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/common/vue/vue.min.js"></script>
    <script type="text/javascript" src="/common/element/element-index.js"></script>
    <script type="text/javascript" src="/common/axios/axios.min.js"></script>
    <script type="text/javascript" src="/common/myutil/axios_util.js"></script>
    <script type="text/javascript" src="/common/myutil/my_util.js"></script>
    <script type="text/javascript" src="/common/myutil/myEl.js"></script>
    <script type="text/javascript" src="/common/myutil/my_open.js"></script>
    <script type="text/javascript" src="/common/dialog/lhgdialog.js?self=false&skin=idialog"></script>
</head>
<body>
<div id="appVM" v-cloak>
    <el-card>
        <div>
            <el-form :inline="true" :model="queryForm" class="demo-form-inline">
                <el-form-item label="计划名称">
                    <el-input v-model="queryForm.planName" placeholder="请输入计划名称"></el-input>
                </el-form-item>
                <el-form-item label="状态">
                    <el-select v-model="queryForm.status" placeholder="请选择">
                        <el-option v-for="item in statusOptions"
                                   :key="item.value"
                                   :label="item.label"
                                   :value="item.value">
                        </el-option>
                    </el-select>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="queryUser">查询</el-button>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="resetQuery">重置</el-button>
                </el-form-item>
            </el-form>
        </div>
        <el-table :max-height="tableHeight" :data="tableData" stripe border highlight-current-row style="width: 98%"
                  :row-style="{height:'50px'}"
                  :cell-style="{padding:'0px'}"
                  :header-cell-style="{background:'#EEEEEE',color:'#4d4d4d'}">
            <el-table-column type="index" width="50">
            </el-table-column>
            <el-table-column show-overflow-tooltip prop="planName" label="计划名称"></el-table-column>
            <el-table-column show-overflow-tooltip prop="testStartTime" label="考试开始时间"></el-table-column>
            <el-table-column show-overflow-tooltip prop="testEndTime" label="考试结束时间"></el-table-column>
            <el-table-column show-overflow-tooltip prop="testTime" label="考试时长(分)"></el-table-column>
            <el-table-column show-overflow-tooltip prop="testForm" label="考试形式">
                <template slot-scope="scope">
                    <span v-if="scope.row.testForm == 0">闭卷</span>
                    <span v-if="scope.row.testForm == 1">开卷</span>
                </template>
            </el-table-column>
            <el-table-column show-overflow-tooltip prop="testType" label="发卷类型">
                <template slot-scope="scope">
                    <span v-if="scope.row.testForm == 0">随机</span>
                    <span v-if="scope.row.testForm == 1">轮询</span>
                </template>
            </el-table-column>
            <el-table-column show-overflow-tooltip prop="status" label="计划状态">
                <template slot-scope="scope">
                    <span v-if="scope.row.status == 0">未发布</span>
                    <span v-if="scope.row.status == 1">已发布</span>
                    <span v-if="scope.row.status == 2">待公布</span>
                    <span v-if="scope.row.status == 3">已公布</span>
                </template>
            </el-table-column>
            <el-table-column show-overflow-tooltip prop="operator" label="创建人"></el-table-column>
            <el-table-column label="操作" width="350">
                <template slot-scope="scope">
                    <el-button size="mini" @click="handleEdit(scope.$index, scope.row)">参考人</el-button>
                </template>
            </el-table-column>
        </el-table>
        <el-pagination
                background
                :page-sizes="[10, 50, 100, 200]"
                @size-change="handleSizeChange"
                @current-change="handleCurrentChange"
                :page-size="pageable.size"
                :current-page.sync="pageable.page"
                layout="total, sizes, prev, pager, next, jumper"
                :total="pageable.total">
        </el-pagination>
    </el-card>
    <!--edit页面 抽屉-->
    <el-drawer ref="drawer" :title="EditDrawer.title" :visible.sync="EditDrawer.drawer" direction="rtl"
               destroy-on-close="true"
               custom-class="demo-drawer" :show-close="false" size="80%">
        <el-table :max-height="tableHeight" :data="personData" stripe border highlight-current-row style="width: 98%"
                  :row-style="{height:'50px'}"
                  :cell-style="{padding:'0px'}"
                  :header-cell-style="{background:'#EEEEEE',color:'#4d4d4d'}">
            <el-table-column type="index" width="50">
            </el-table-column>
            <el-table-column show-overflow-tooltip prop="ghid" label="工号"></el-table-column>
            <el-table-column show-overflow-tooltip prop="name" label="姓名"></el-table-column>
            <el-table-column show-overflow-tooltip prop="paperName" label="试卷名称   "></el-table-column>
            <el-table-column label="操作" width="350">
                <template slot-scope="scope">

                </template>
            </el-table-column>
        </el-table>
    </el-drawer>
</div>
</body>
<script>
    let vData = {
        tableHeight: $(document).height() - 150,
        queryForm: {
            planName: '',
            status: ''
        },
        tableData: [],
        personData: [],
        pageable: {
            size: 10,
            page: 1,
            total: 0
        },
        EditDrawer: {
            title: '',
            drawer: false,
            flag: 0
        },
        testFormOptions: [{
            value: 0,
            label: '闭卷'
        }, {
            value: 1,
            label: '开卷'
        }],
        testTypeOptions: [{
            value: 0,
            label: '随机'
        }, {
            value: 1,
            label: '轮询'
        }],
        statusOptions: [{
            value: 0,
            label: '未发布'
        }, {
            value: 1,
            label: '已发布'
        }, {
            value: 2,
            label: '待公布'
        }, {
            value: 3,
            label: '已公布'
        }]

    };

    let vm = new Vue({
        el: '#appVM',
        data: vData,
        method: {
            queryUser,
            resetQuery,
            handleEdit,
            handleSizeChange,
            handleCurrentChange
        }
    });

    $(function () {
        getData();
    });

    function getData() {
        let lJsonData = vData.queryForm;
        lJsonData.pageable = vData.pageable;
        lJsonData.isPaper = 1;
        axios.post("/exam/listExamPlanPage", lJsonData)
            .then(function (response) {
                let lret = response.data;
                console.log(lret);
                vData.tableData = lret.data.content;
                vData.pageable.total = lret.data.total;
            })
            .catch(function (error) {

            });

    }

    function queryUser() {
        vData.pageable.page = 1;
        getData();
    }

    function handleEdit(idx, row) {
        vData.EditDrawer.flag = 0;
        vData.EditDrawer.drawer = true;
        vData.EditDrawer.title = "参考人列表-" + row.planName;
        getTestPerson(row.planId);
    }

    function resetQuery() {
        vData.queryForm.planName = '';
        vData.queryForm.status = '';
    }


    function handleSizeChange(val) {
        vData.pageable.page = 1;
        vData.pageable.size = val;
        getData();
    }

    function handleCurrentChange(val) {
        getData();
    }

    function getTestPerson(planId) {
        let lJsonForm = {"planId": planId};
        axios.post("/exam/getTestPerson", lJsonForm)
            .then(function (response) {
                console.log(response.data);
                let lret = response.data;
                vData.personData = lret.data;
            })
            .catch(function (error) {
                console.log(error);
            })
    }




</script>

<style>
    [v-cloak] {
        display: none;
    }

    .myInput {
        width: 219px;
    }

    .myText {
        width: 500px;
    }

    .headLabel {
        text-align: center;
        font-size: 22px;
        padding: 1px 0 34px 0;
    }


</style>
</html>