<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>考试计划添加试题</title>
    <link rel="stylesheet" type="text/css" href="/common/element/element-index.css">
    <script type="text/javascript" src="/common/jquery/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/common/vue/vue.min.js"></script>
    <script type="text/javascript" src="/common/element/element-index.js"></script>
    <script type="text/javascript" src="/common/axios/axios.min.js"></script>
    <script type="text/javascript" src="/common/myutil/axios_util.js"></script>
    <script type="text/javascript" src="/common/myutil/my_util.js"></script>
    <script type="text/javascript" src="/common/myutil/myEl.js"></script>
</head>
<body>
<div id="appVM" v-cloak>
    <el-container>
        <el-header>
            <el-row>
                <el-col :span="8" style="text-align:left;padding-left: 15px;">考试计划: {{planName}}</el-col>
                <el-button-group v-for="Bm in PattType">
                    <el-button type="primary" icon="el-icon-circle-plus-outline" size="small"
                               :disabled="Bm.disable" @click="addPattern(Bm.K)">{{Bm.V}}
                    </el-button>
                </el-button-group>
                <el-col :span="6" style="float: right">
                    <span>生成几套试卷</span>
                    <el-input-number v-model="paperCnt" size="mini" :min="1" :max="5"></el-input-number>
                    <el-button type="primary" size="small" icon="el-icon-setting" @click="prodThePaper">
                        生成试卷
                    </el-button>
                </el-col>
            </el-row>
        </el-header>
        <el-main>
            <div v-if="ExamItems.length == 0">&nbsp;</div>
            <template v-for="(wForm, wIndex) in ExamItems">
                <!--单选-->
                <el-card v-if="wForm.topicType == 1">
                    <el-row>
                        <head-label :model="wForm" :index="wIndex"></head-label>
                    </el-row>
                    <el-row>
                        <div v-for="(testQue,index) in wForm.ExamItem">
                            <div v-if="testQue.topicType==1">
                                <el-card shadow="always">
                                    <h5>
                                        <el-checkbox v-model="testQue.topicCheck" :true-label="testQue.topicId"
                                                     :false-label="testQue.topicFalselabel"
                                                     @change="getChecked(testQue.topicCheck)">
                                            <difficulty-level :value="testQue.difficultyLevel"></difficulty-level>
                                        </el-checkbox>
                                        {{index+1}}、 (
                                        <topic-type :value="testQue.topicType"></topic-type>
                                        ) {{testQue.topicDes}}
                                    </h5>
                                    <br>
                                    <template v-for="(tRadio,indexR) in testQue.topicQueContent">
                                        {{tRadio.K}}、{{tRadio.V}}
                                        <br>
                                    </template>
                                    <div class="answerStyle">
                                        <br>正确答案：{{testQue.correctAnswer}}
                                    </div>
                                </el-card>
                            </div>
                        </div>
                    </el-row>
                </el-card>
                <!--多选-->
                <el-card v-if="wForm.topicType == 2">
                    <el-row>
                        <head-label :model="wForm" :index="wIndex"></head-label>
                    </el-row>
                    <el-row>
                        <div v-for="(testQue,index) in wForm.ExamItem">
                            <div v-if="testQue.topicType==2">
                                <el-card shadow="always">
                                    <h5>
                                        <el-checkbox v-model="testQue.topicCheck" :true-label="testQue.topicId"
                                                     :false-label="testQue.topicFalselabel"
                                                     @change="getChecked(testQue.topicCheck)">
                                            <h5>
                                                <difficulty-level :value="testQue.difficultyLevel"></difficulty-level>
                                            </h5>
                                        </el-checkbox>
                                        {{index+1}}、 (
                                        <topic-type :value="testQue.topicType"></topic-type>
                                        ) {{testQue.topicDes}}
                                    </h5>
                                    <br>
                                    <template v-for="tMSelect in testQue.topicQueContent">
                                        {{tMSelect.K}}、{{tMSelect.V}}
                                        <br>
                                    </template>
                                    <div class="answerStyle">
                                        <br>正确答案：{{testQue.correctAnswer}}
                                    </div>
                                </el-card>
                            </div>
                        </div>
                    </el-row>
                </el-card>
                <!--填空-->
                <el-card v-if="wForm.topicType == 3">
                    <el-row>
                        <head-label :model="wForm" :index="wIndex"></head-label>
                    </el-row>
                    <el-row>
                        <div v-for="(testQue,index) in wForm.ExamItem">
                            <div v-if="testQue.topicType==3">
                                <el-card shadow="always">
                                    <h5>
                                        <el-checkbox v-model="testQue.topicCheck" :true-label="testQue.topicId"
                                                     :false-label="testQue.topicFalselabel"
                                                     @change="getChecked(testQue.topicCheck)">
                                            <h5>
                                                <difficulty-level :value="testQue.difficultyLevel"></difficulty-level>
                                            </h5>
                                        </el-checkbox>
                                        {{index+1}}、 (
                                        <topic-type :value="testQue.topicType"></topic-type>
                                        ) {{testQue.topicDes}}
                                    </h5>
                                    <br>
                                    <div class="answerStyle">
                                        <br>答案：
                                        <br>
                                        <br>
                                        <template v-for="(tMSelect,tInx) in testQue.topicQueContent">
                                            {{tInx+1}}）{{tMSelect.V}}
                                            <br>
                                            <br>
                                        </template>
                                    </div>
                                </el-card>
                            </div>
                        </div>
                    </el-row>
                </el-card>
                <!--判断-->
                <el-card v-if="wForm.topicType == 4">
                    <el-row>
                        <head-label :model="wForm" :index="wIndex"></head-label>
                    </el-row>
                    <el-row>
                        <div v-for="(testQue,index) in wForm.ExamItem">
                            <div v-if="testQue.topicType==4">
                                <el-card shadow="always">
                                    <h5>
                                        <el-checkbox v-model="testQue.topicCheck" :true-label="testQue.topicId"
                                                     :false-label="testQue.topicFalselabel"
                                                     @change="getChecked(testQue.topicCheck)">
                                            <h5>
                                                <difficulty-level :value="testQue.difficultyLevel"></difficulty-level>
                                            </h5>
                                        </el-checkbox>
                                        {{index+1}}、 (
                                        <topic-type :value="testQue.topicType"></topic-type>
                                        ) {{testQue.topicDes}}
                                    </h5>
                                    <br>
                                    <template v-for="tMSelect in testQue.topicQueContent">
                                        {{tMSelect.K}}、{{tMSelect.V}}
                                        <br>
                                    </template>
                                    <div class="answerStyle">
                                        <br>正确答案：{{testQue.correctAnswer}}
                                    </div>
                                </el-card>
                            </div>
                        </div>
                    </el-row>
                </el-card>
                <!--简答-->
                <el-card v-if="wForm.topicType == 5">
                    <el-row>
                        <head-label :model="wForm" :index="wIndex"></head-label>
                    </el-row>
                    <el-row>
                        <div v-for="(testQue,index) in wForm.ExamItem">
                            <div v-if="testQue.topicType==5">
                                <el-card shadow="always">
                                    <h5>
                                        <el-checkbox v-model="testQue.topicCheck" :true-label="testQue.topicId"
                                                     :false-label="testQue.topicFalselabel"
                                                     @change="getChecked(testQue.topicCheck)">
                                            <h5>
                                                <difficulty-level :value="testQue.difficultyLevel"></difficulty-level>
                                            </h5>
                                        </el-checkbox>
                                        {{index+1}}、 (
                                        <topic-type :value="testQue.topicType"></topic-type>
                                        ) {{testQue.topicDes}}
                                    </h5>
                                    <br>
                                    <div class="answerStyle">
                                        <br>正确答案：{{testQue.correctAnswer}}
                                    </div>
                                </el-card>
                            </div>
                        </div>
                    </el-row>
                </el-card>
            </template>
            <!--手动添加-->
            <el-dialog title="手动添加" width="50%" :visible.sync="dialogFormVisible">
                <div id="theDiv">
                    <div id="leftDiv">
                        <el-form label-position="right" label-width="80px" :model="EditForm">
                            <el-form-item label="题干">
                                <el-input class="myText" type="textarea" v-model="EditForm.topicDes"></el-input>
                            </el-form-item>
                            <el-form-item label="题目类型">
                                <template>
                                    <el-select v-model="EditForm.topicType" disabled="true">
                                        <el-option v-for="item in ExamTemp.formExam.patterns"
                                                   :key="item.value"
                                                   :label="item.label"
                                                   :value="item.value">
                                        </el-option>
                                    </el-select>
                                </template>
                            </el-form-item>
                            <el-form-item label="难度等级">
                                <el-select v-model="EditForm.difficultyLevel" placeholder="请选择">
                                    <el-option v-for="item in tpDifficultyLevelOptions"
                                               :key="item.value"
                                               :label="item.label"
                                               :value="item.value">
                                    </el-option>
                                </el-select>
                            </el-form-item>
                            <el-form-item label="正确答案">
                                <el-input class="myText" type="textarea" v-model="EditForm.correctAnswer"></el-input>
                            </el-form-item>
                            <el-form-item>
                                <el-button type="primary" @click="dialogFormAdd">确定</el-button>
                                <el-button type="primary">取消</el-button>
                            </el-form-item>
                        </el-form>
                    </div>
                    <div id="rightDiv">
                        <div class="headLabel">选项集合</div>
                        <el-form label-position="right" label-width="100px" :model="topicContent">
                            <el-form-item label="选项A">
                                <el-input id="A" class="myText" type="textarea" v-model="topicContent.A"></el-input>
                            </el-form-item>
                            <el-form-item label="选项B">
                                <el-input id="B" class="myText" type="textarea" v-model="topicContent.B"></el-input>
                            </el-form-item>
                            <el-form-item label="选项C">
                                <el-input id="C" class="myText" type="textarea" v-model="topicContent.C"></el-input>
                            </el-form-item>
                            <el-form-item label="选项D">
                                <el-input id="D" class="myText" type="textarea" v-model="topicContent.D"></el-input>
                            </el-form-item>
                            <el-form-item label="选项E">
                                <el-input id="E" class="myText" type="textarea" v-model="topicContent.E"></el-input>
                            </el-form-item>
                            <el-form-item label="选项F">
                                <el-input id="F" class="myText" type="textarea" v-model="topicContent.F"></el-input>
                            </el-form-item>
                            <el-form-item label="选项G">
                                <el-input id="G" class="myText" type="textarea" v-model="topicContent.G"></el-input>
                            </el-form-item>
                        </el-form>
                    </div>
                </div>
            </el-dialog>
            <!-- 批量导入 -->
            <el-dialog title="批量导入" width="80%" :visible.sync="dialogTableVisible">
                <div style="margin-bottom: 20px">
                    <el-button @click="setSelect()">确定</el-button>
                    <el-button>取消</el-button>
                </div>
                <el-table :data="tableData" stripe border highlight-current-row
                          @selection-change="handleSelectionChange"
                          style="width: 98%">
                    <el-table-column type="selection" width="55"></el-table-column>
                    </el-table-column>
                    <el-table-column prop="topicDes" label="题干"></el-table-column>
                    <el-table-column prop="topicType" label="题目类型">
                        <template slot-scope="scope">
                            <span v-if="scope.row.topicType == 1">单选</span>
                            <span v-if="scope.row.topicType == 2">多选</span>
                            <span v-if="scope.row.topicType == 3">填空</span>
                            <span v-if="scope.row.topicType == 4">判断</span>
                            <span v-if="scope.row.topicType == 5">简答</span>
                        </template>
                    </el-table-column>
                    <el-table-column prop="difficultyLevel" label="难度等级">
                        <template slot-scope="scope"><!--1:困难,2:较难,3:一般,4:较易,5:容易-->
                            <span v-if="scope.row.difficultyLevel == 1">困难</span>
                            <span v-if="scope.row.difficultyLevel == 2">较难</span>
                            <span v-if="scope.row.difficultyLevel == 3">一般</span>
                            <span v-if="scope.row.difficultyLevel == 4">较易</span>
                            <span v-if="scope.row.difficultyLevel == 5">容易</span>
                        </template>
                    </el-table-column>
                    <el-table-column prop="correctAnswer" label="正确答案"></el-table-column>
                </el-table>
                <el-pagination
                        background
                        :page-sizes="[10, 50, 100, 200]"
                        @size-change="handleSizeChange"
                        @current-change="handleCurrentChange"
                        :page-size="pageable.size"
                        :current-page.sync="pageable.page"
                        layout="total, sizes, prev, pager, next, jumper"
                        :total="pageable.total">
                </el-pagination>
            </el-dialog>
        </el-main>
    </el-container>
</div>
<template id="myTopicType">
    <span v-if="value==1">单选</span>
    <span v-else-if="value==2">多选</span>
    <span v-else-if="value==3">填空</span>
    <span v-else-if="value==4">判断</span>
    <span v-else-if="value==5">简答</span>
</template>
<template id="myDifficultyLevel">
    <span v-if="value==1">困难</span>
    <span v-else-if="value==2">较难</span>
    <span v-else-if="value==3">一般</span>
    <span v-else-if="value==4">较易</span>
    <span v-else-if="value==5">容易</span>
</template>
<template id="myHeadLabel">
    <el-form :inline="true" :model="model" class="demo-form-inline">
        <el-form-item label="题型" size="small">
            <el-select v-model="model.topicType" disabled="true">
                <el-option v-for="pattern in model.patterns" :key="pattern.value" :label="pattern.label"
                           :value="pattern.value">
                </el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="题量" size="small">
            <el-input-number v-model="model.cnt" size="mini" :min="0" :max="300"></el-input-number>
        </el-form-item>
        <el-form-item label="分值" size="small">
            <el-input-number v-model="model.score" size="mini" :min="1" :max="300"></el-input-number>
        </el-form-item>
        <el-form-item label="实际题量" size="small">
            <el-input v-model="model.actualCnt" placeholder="" :disabled="true" style="width: 80px;"></el-input>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" @click="addTopic(model.topicType, index)" size="small">
                手动添加
            </el-button>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" @click="batchImport(model.topicType, index)" size="small">
                批量导入
            </el-button>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" @click="batchDelete(index)" size="small">批量删除</el-button>
        </el-form-item>
        <el-button type="danger" style="float: right; margin-right:15px;" size="small" icon="el-icon-delete"
                   @click="delWeekly(index)">
            移除当前模块
        </el-button>
    </el-form>
</template>
</body>
<script type="text/javascript">
    //注册题目类型组件,便于复用
    Vue.component('topic-type', {
        props: ['value'],
        data: function () {
            return {
                value: 0
            }
        },
        template: "#myTopicType"
    });
    //注册题目类型组件,便于复用
    Vue.component('difficulty-level', {
        props: ['value'],
        data: function () {
            return {
                value: 0
            }
        },
        template: "#myDifficultyLevel"
    });

    Vue.component('head-label', {
        props: ['model', 'index'],
        data: function () {
            return {
                model: {
                    topicType: 0,
                    patterns: [],
                    cnt: 0,
                    score: 0,
                    actualCnt: 0,
                    ExamItem: []
                },
                index: 0
            }
        },
        template: '#myHeadLabel'
    });


    let vData = {
        planId: '',
        planName: '',
        paperCnt: '',
        PattType: [  //题目类型
            {K: 1, V: "单选", disable: false},
            {K: 2, V: "多选", disable: false},
            {K: 3, V: "填空", disable: false},
            {K: 4, V: "判断", disable: false},
            {K: 5, V: "简答", disable: false}
        ],
        ExamItems: [],
        ExamTemp: {//每个模板的数据
            formExam: {
                patterns: [{
                    value: 1,
                    label: '单项选择题'
                }, {
                    value: 2,
                    label: '多项选择题'
                }, {
                    value: 3,
                    label: '填空题'
                }, {
                    value: 4,
                    label: '判断题'
                }, {
                    value: 5,
                    label: '简答题'
                }],
                cnt: '',
                score: '',
                actualCnt: '',
                ExamItem: []//试题数据
            }
        },
        tpDifficultyLevelOptions: [{
            value: 1,
            label: '困难'
        }, {
            value: 2,
            label: '较难'
        }, {
            value: 3,
            label: '一般'
        }, {
            value: 4,
            label: '较易'
        }, {
            value: 5,
            label: '容易'
        }],
        dialogFormVisible: false,
        dialogTableVisible: false,
        EditForm: {},
        topicContent: {},
        tableData: [],
        tabletType: '',
        tabletIndex: 0,
        multipleSelection: [],
        pageable: {
            size: 10,
            page: 1,
            total: 0
        },
    };

    let vm = new Vue({
        el: "#appVM",
        data: vData,
        methods: {
            addPattern,
            addTopic,
            batchImport,
            batchDelete,
            delWeekly,
            dialogFormAdd,
            prodThePaper,
            handleSizeChange,
            handleCurrentChange,
            handleSelectionChange,
            setSelect
        }
    });

    function addPattern(key) {
        let lForm = getJsonClone(vData.ExamTemp.formExam);
        //给指定模板对象赋值TOPIC_TYPE
        lForm.topicType = key;
        vData.ExamItems.push(lForm);

        updateProjDisable();
        //console.log(vData.ExamItems);
        vm.$nextTick(() => {
            document.documentElement.scrollTop = document.body.scrollHeight;
        })
    }

    function addTopic(topicType, index) {
        vData.EditForm = {};
        vData.topicContent = {};
        vData.EditForm.topicType = topicType;
        vData.EditForm.index = index;
        vData.dialogFormVisible = true;
    }

    var vTopic = ["A", "B", "C", "D", "E", "F", "G"];

    function dialogFormAdd() {
        console.log("手动添加", vData.EditForm.index);
        vData.EditForm.topicContent = vData.topicContent;
        if (vData.EditForm.topicType == 1 || vData.EditForm.topicType == 2 || vData.EditForm.topicType == 4) {
            let topicQueContent = [];
            for (var index = 0; index < vTopic.length; index++) {
                var vLeter = vTopic[index];
                var vValue = $("#" + vLeter).val();
                if (vValue.length > 0) {
                    topicQueContent.push({"K": vLeter, "V": vValue, "CH": false})
                }
            }
            vData.EditForm.topicQueContent = topicQueContent;
        } else if (vData.EditForm.topicType == 3) {
            var vMsg = "";  //存储汉字写入答案字段
            var vJson = [];//存储json数据显示格式
            for (var index = 0; index < vTopic.length; index++) {
                var vLeter = vTopic[index];
                var vValue = $("#" + vLeter).val();
                if (vValue.length > 0) {
                    vJson.push({"K": vLeter, "V": vValue});
                    if (vMsg.length > 0) {
                        vMsg += ";";
                    }
                    vMsg += vValue;
                }
            }
            vData.EditForm.topicQueContent = vJson;
            vData.EditForm.correctAnswer = vMsg;
        } else {
            vData.EditForm.topicContent = {};
        }
        console.log(vData.EditForm);

        /*---------------------------加入---------------------------*/
        //合并内容
        vData.ExamItems[vData.EditForm.index].ExamItem.push(vData.EditForm);
        //计算试题题量
        vData.ExamItems[vData.EditForm.index].actualCnt = vData.ExamItems[vData.EditForm.index].ExamItem.length;
        //关闭弹出框
        vData.dialogFormVisible = false;
    }

    function batchImport(topicType, index) {
        console.log("批量导入");
        vData.tabletType = topicType;
        vData.tabletIndex = index;
        getData();
        vData.dialogTableVisible = true;
    }

    function getData() {
        let lJsonData = {"topicType": vData.tabletType};
        lJsonData.pageable = vData.pageable;
        axios.post("/exam/listExamTopicPage", lJsonData)
            .then(function (response) {
                let lret = response.data;
                console.log(lret);
                vData.tableData = lret.data.content;
                vData.pageable.total = lret.data.total;
            })
            .catch(function (error) {

            });
    }

    function handleSizeChange(val) {
        vData.pageable.page = 1;
        vData.pageable.size = val;
        getData();
    }

    function handleCurrentChange(val) {
        getData();
    }

    function handleSelectionChange(val) {
        vData.multipleSelection = val;
    }

    /*批量加入*/
    function setSelect() {
        //合并内容
        for (n in vData.multipleSelection) {
            vData.multipleSelection[n].topicQueContent = JSON.parse(vData.multipleSelection[n].topicQueContent);
            vData.ExamItems[vData.tabletIndex].ExamItem.push(vData.multipleSelection[n]);
        }
        //计算试题题量
        vData.ExamItems[vData.tabletIndex].actualCnt = vData.ExamItems[vData.tabletIndex].ExamItem.length;
        //关闭弹出框
        vData.dialogTableVisible = false;
    }

    function batchDelete(index) {
        console.log("批量删除");
    }

    function delWeekly(index) {
        vm.$confirm('此操作将永久删除该内容, 是否继续?', '提示', {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            lockScroll: false,
            type: 'warning'
        }).then(() => {   //开始执行删除
            vData.ExamItems.splice(index, 1);
            updateProjDisable();
        }).catch(() => {
        });
    }

    //生成试卷
    function prodThePaper() {
        vm.$confirm("确认生成试卷吗？")
            .then(_ => {
                var vJson = {
                    "planId": vData.planId,
                    "planName": vData.planName,
                    "paperCnt": vData.paperCnt,
                    "examDatas": vData.ExamItems
                };
                axios.post("/exam/prodThePaperTemp", vJson)
                    .then(function (response) {
                        let lret = response.data;
                        myEl.elAlert(lret.code, lret.msg);
                    })
                    .catch(function (error) {

                    })
            })
            .catch(_ => {

            })
    }

    //获取json对象克隆
    function getJsonClone(val) {
        return JSON.parse(JSON.stringify(val));
    }

    //更新按键的操作状态,是否只读
    function updateProjDisable() {
        for (let index = 0; index < vData.PattType.length; index++) {
            const el = vData.PattType[index];
            let isDisable = false;
            for (let wi = 0; wi < vData.ExamItems.length; wi++) {
                const elW = vData.ExamItems[wi];
                if (elW.topicType == el.K) {
                    isDisable = true;
                    break;
                }
            }
            el.disable = isDisable;
        }
    }

    $(function () {
        /*获取地址参数信息*/
        vData.planId = myUtil.fun_querystring("planId");
        vData.planName = decodeURI(myUtil.fun_querystring("planName"));
    })


</script>
<style>
    [v-cloak] {
        display: none;
    }

    .el-header {
        background-color: #bad1ce;
        color: #333;
        text-align: center;
        line-height: 60px;
        position: fixed;
        z-index: 15;
        width: 100%;
    }

    .el-main {
        padding-top: 65px;
        background-color: #e1ecf3;
        color: #333;
        text-align: left;
    }

    .myInput {
        width: 219px;
    }

    .myText {
        width: 300px;
    }

    .headLabel {
        text-align: center;
        font-size: 22px;
        padding: 1px 0 34px 0;
    }

    #theDiv {
        display: flex;
        width: 100%;
        height: 100%;
    }

    #leftDiv {
        width: 50%;
        height: 100%;
        margin-top: 50px;
    }

    #rightDiv {
        width: 50%;
        height: 100%;
    }
</style>
</html>